[bumpversion]
current_version = 16.1.1a80
commit = True
tag = True
tag_name = v{new_version}
message = Bump version to {new_version} [skip ci]

[bumpversion:file:pyproject.toml]

[bumpversion:file:rust/Cargo.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:rust/Cargo.lock]
search = version = "{current_version}"
replace = version = "{new_version}"
