# @package _global_
algorithm:
  _target_: neuracore.ml.algorithms.diffusion_policy.diffusion_policy.DiffusionPolicy
  unet_down_dims: [256, 512, 1024]
  unet_kernel_size: 5
  unet_n_groups: 8
  unet_diffusion_step_embed_dim: 128
  hidden_dim: 64 # spatial_softmax_num_keypoints * 2
  spatial_softmax_num_keypoints: 32
  unet_use_film_scale_modulation: true
  use_pretrained_weights: true
  noise_scheduler_type: "DDPM"
  num_train_timesteps: 100
  num_inference_steps: 100
  beta_start: 0.0001
  beta_end: 0.02
  beta_schedule: "squaredcos_cap_v2"
  clip_sample: true
  clip_sample_range: 1.0
  lr: 1e-4 # default value for batch size 16
  freeze_backbone: false
  lr_backbone: 1e-4 # default value for batch size 16
  weight_decay: 2e-6
  optimizer_betas: [0.95, 0.999]
  optimizer_eps: 1e-8
  prediction_type: "epsilon"
  normalization_type: "min_max"
  lr_scheduler_type: "cosine"
  lr_scheduler_num_warmup_steps: 500