name: Integration ML

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - uses: pre-commit/action@v3.0.1

  test:
    needs: pre-commit
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.11']
        environment: [staging, production]

    steps:
    - name: Free Disk Space (Ubuntu)
      uses: jlumbroso/free-disk-space@main
      with:
        tool-cache: false
        android: true
        dotnet: true
        haskell: true
        large-packages: true
        swap-storage: true

    - name: Checkout code
      uses: actions/checkout@v4
      with:
        ref: ${{ matrix.environment == 'staging' && 'develop' || github.ref }}
    - name: Pull LFS objects
      run: git lfs pull

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'

    - name: Install Python dependencies
      run: |
        python -m pip install --no-cache-dir --upgrade pip
        if [ "${{ matrix.environment }}" = "production" ]; then
          pip install --no-cache-dir "neuracore[dev,ml,examples]"
        else
          pip install --no-cache-dir ".[dev,ml,examples]"
        fi

    - name: Run Integration Test
      env:
        NEURACORE_API_URL: ${{ matrix.environment == 'staging' && 'https://staging.api.neuracore.com/api' || 'https://api.neuracore.com/api' }}
        NEURACORE_API_KEY: ${{ matrix.environment == 'staging' && secrets.STAGING_SERVICE_API_KEY || secrets.PROD_SERVICE_API_KEY }}
        NEURACORE_ORG_ID: ${{ matrix.environment == 'staging' && vars.STAGING_SERVICE_ORG_ID || vars.PROD_SERVICE_ORG_ID }}
        NEURACORE_ENDPOINT_TIMEOUT: 30
        DISPLAY: :0
      run: |
        sudo apt-get update
        sudo apt-get install -y libxml2-utils xvfb libgl1-mesa-dev libgl1-mesa-glx libosmesa6-dev
        Xvfb $DISPLAY -screen 0 1280x1024x24 &
        pytest -o log_cli=true --log-cli-level=INFO -v -n 8 tests/integration/test_algorithm.py
